/*.test2 { height: 10em; position: relative }*/


/*.test { margin: 0; background: yellow; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%) }*/

form div.required label.control-label:after {
    content:" * ";
    color:red;
    /*font-size: 25px;*/
    /*position: absolute;*/
    /*top: -5px;*/
    /*right: -12px;*/
}

.grid-view td{
    white-space: normal !important;
}


.cv-data-table table, th, td {
    width: inherit;
    border: 1px solid black;
    border-collapse: collapse;
}

.personal-data table{
    width: 100%;
    border: none;
}
.personal-data th,
.personal-data td{
    border: none;
    border-collapse: collapse;

}

.personal-data-table, .cv-data-table th {
    text-transform: uppercase;
}

.cv-data-table th,td {
    padding: 15px;
}



.cv-scroll{
    /*overflow:scroll; height:700px;*/
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}